# Ignore the data directory
#data/

# Ignore .DS_Store files
.DS_Store


# Ignore the python cache files
__pycache__/


# Ignore the models directory
models/

# Ignore the checkpounts directory
.ipynb_checkpoints/